<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="INFO-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>.${file.separator}log${file.separator}log4j.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg - %X{test.id}%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>.${file.separator}log${file.separator}log4j.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>2MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="DEBUG-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>.${file.separator}log${file.separator}log4j-debug.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg - %X{test.id}%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>.${file.separator}log${file.separator}log4j-debug.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>2MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg - %X{test.id}%n</pattern>
        </encoder>
    </appender>
    <appender name="ALLURE-REPORT" class="com.goaudits.automation.api.utils.utils.AllureAppender">
        <encoder>
            <pattern>%msg - %X{test.id}%n</pattern>
        </encoder>
    </appender>
    <appender name="HTML-REPORT" class="com.goaudits.automation.api.utils.utils.HTMLAppender">
        <encoder>
            <pattern>%msg - %X{test.id}%n</pattern>
        </encoder>
    </appender>
    <appender name="ELASTIC" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:9500</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALLURE-REPORT"/>
        <appender-ref ref="HTML-REPORT"/>
        <appender-ref ref="ELASTIC"/>
    </root>
</configuration>